In [17]:
import pandas as pd

df = pd.read_csv('SMSSpamCollection', sep='\t', names=['label','sms_message'])

df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
df['label'] = df.label.map({'ham':0, 'spam':1})
df.head()

   label                                        sms_message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [25]:
df['length'] = df['sms_message'].map(lambda text: len(text))

df.groupby('label').length.describe()

        count        mean        std   min    25%    50%    75%    max
label
0      4825.0   71.482487  58.440652   2.0   33.0   52.0   93.0  910.0
1       747.0  138.670683  28.873603  13.0  133.0  149.0  157.0  223.0

In [26]:
import seaborn as sns
import matplotlib.pyplot as plt
 
label_counts = df.label.value_counts()
plt.figure(figsize = (12,6))
sns.barplot(label_counts.index, label_counts.values, alpha = 0.9)

plt.xticks(rotation = 'vertical')
plt.xlabel('Spam', fontsize =12)
plt.ylabel('Counts', fontsize = 12)
plt.show()

AttributeError: 'DataFrame' object has no attribute 'spam'